<section id="tours">
  <div class="tour-titile">
    <h1>Tours</h1>
  </div>
  <div class="tour-layout">
    <div class="tour-card">
      <div class="tour-country">
        <h1>Australia</h1>
      </div>
      <div class="tour-dates">
        <div class="date">
          <h3>June 13, 2019</h3>
        </div>
        <div class="location">
          <h3>Melbourne - Rod Laver Arena</h3>
        </div>
      </div>
      <div class="tour-dates">
        <div class="date">
          <h3>June 15, 2019</h3>
        </div>
        <div class="location">
          <h3>Sydney - Qudos Bank Arena</h3>
        </div>
      </div>
    </div>
    <div class="tour-card">
      <div class="tour-country">
        <h1>Thailand</h1>
      </div>
      <div class="tour-dates">
        <div class="date">
          <h3>July 12-14, 2019</h3>
        </div>
        <div class="location">
          <h3>IMPACT Arena</h3>
        </div>
      </div>
    </div>
    <div class="tour-card">
      <div class="tour-country">
        <h1>Japan</h1>
      </div>
      <div class="tour-dates">
        <div class="date">
          <h3>Dec 4, 2019</h3>
        </div>
        <div class="location">
          <h3>Tokyo - Tokyo Dome</h3>
        </div>
      </div>
      <div class="tour-dates">
        <div class="date">
          <h3>Jan 4-5, 2020</h3>
        </div>
        <div class="location">
          <h3>Osaka - Kyocera Dome</h3>
        </div>
      </div>
      <div class="tour-dates">
        <div class="date">
          <h3>Feb 22, 2020</h3>
        </div>
        <div class="location">
          <h3>Fukuoka - Fukuoka Dome</h3>
        </div>
      </div>
    </div>
  </div>
</section>
